<div class="container">
    <div [innerHtml]="target"> </div>
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>

    <form (ngSubmit)="registerUser()">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3 style="text-align: center;">Register Form:</h3>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="email" class="form-control" name="name" [(ngModel)]="register.name"
                        aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="register.email"
                        aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="register.password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

</div>